.body{
    margin:0px;
}
.boton-ingresar{
    background-color: light;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 10px 24px;
    right: 15px;
    bottom: 10px;
}
.boton-ingresar:hover {
    background-color: red;
    color: white;
} 
.boton-pagar{
    background-color: light;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 10px 24px;
    right: 15px;
    bottom: 10px;
}
.boton-pagar:hover {
    background-color: red;
    color: white;
}

#contenedor-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-productos{
    margin: 15px;
    padding: 10px 16px;
    position: relative;
}
.contenedor-productos:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.contenedor-productos img{
    width: 300px;
}
.boton-add{
    position: absolute;
    background-color: white;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 10px 24px;
    border: none;
    right: 15px;
    bottom: 1px;

}
.boton-add:hover {
    background-color: red;
    color: white;
}
.delete {
    background-color: white;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 5px 12px; 
}
.delete:hover {
    background-color: red;
    color: white;
}
.boton-terminar-compra{
    background-color: light;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 10px 24px;
    right: 15px;
    bottom: 10px
}
.boton-terminar-compra:hover{
    background-color: red;
    color: white;
}