.body{
    margin:0px;
}


.titulo{

}

.contenedor-pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-producto{
    margin: 15px;
    padding: 2px 16px;
}
.contenedor-producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.contenedor-producto img{
    width: 300px;
}
.boton-add{
    transition-duration: 0.4s;
    border-radius: 12px;
    padding: 10px 24px;
    border: none;

}
.boton-add:hover {
    background-color: red;
    color: white;
}